@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  /* FUNDO ROSA */
  background: linear-gradient(to bottom right, #ff4d88, #d6004c);
}

/* CONTAINER */
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img{
  width: 140px;
}

/* MAIN */
main{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

/* BOTÕES */
main a{
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;

  /* BOTÕES ROSA */
  background: linear-gradient(to right, #ff4d88, #d6004c);
}

main a:hover{
  opacity: .9;
  transform: scale(1.05);
}

/* TÍTULO */
h3{
  font-size: 2em;
  color:#d6004c;
  text-align: center;
}

/* TEXTO */
p{
  font-size: 1.2em;
  color: #333;
}

/* CARD */
section {
  padding: 60px;
  background-color: #ffffff; /* AGORA BRANCO */
  width: 500px;
  border-radius: 15px;

  display: flex;
  flex-direction: column; 
  gap: 15px;
  text-align: center;

  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.footer{
  color: #4e001a; /* corrigido (tinha um # sobrando) */
  font-size: 1rem;
  text-align: center;
  margin: 30px;
}

/* RESPONSIVO */
@media(max-width: 580px){
  section {
    width: 90%;
    padding: 30px;
  }

  header img{
    width: 100px;
  }

  h3{
    font-size: 1.3rem;
  }

  p{
    font-size: 1.1em;
  }
}
