@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  /* FUNDO ROSA */
  background: linear-gradient(to bottom right, #ff4d88, #d6004c);
}

/* CARD (BRANCO) */
section {
  padding: 60px;
  background-color: #ffffff;
  width: 500px;
  border-radius: 15px;

  display: flex;
  flex-direction: column; 
  gap: 15px;
  text-align: center;

  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img{
  width: 120px;
}

/* TÍTULO */
h3{
  font-size: 2em;
  color:#d6004c; /* rosa forte */
}

/* TEXTO */
p{
  font-size: 1.2em;
  color: #333;
}

/* BOTÕES ROSA */
main{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main a{
  width: 100%;
  padding: 12px;
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  border-radius: 30px;
  text-align: center;

  /* MESMO ESTILO DO FUNDO */
  background: linear-gradient(to right, #ff4d88, #d6004c);

  transition: 0.3s;
}

main a:hover{
  transform: scale(1.05);
  opacity: 0.9;
}

/* FOOTER */
.footer{
  color: #999;
  font-size: 0.9rem;
  margin-top: 10px;
}

/* RESPONSIVO */
@media(max-width: 580px){
  section {
    width: 90%;
    padding: 30px;
  }

  h3{
    font-size: 1.5rem;
  }
}
